---
import ImagePB from "../components/ImagePB.astro";
const scene = Astro.props;
---

<div class="card rounded-xl p-5 mt-7 border-2 border-brandingblue">
    {
        scene && (
            <div class="container">
                <ImagePB
                    record={scene}
                    field={scene.photo}
                />

                <p class="text-grey-2">{scene.description}</p>
                <p class="text-2xl font-semibold">{scene.nom}</p>
                <p class="flex items-center gap-2 text-grey-2">
                    <img
                        src="src/assets/icons/lieurose.svg"
                        class="w-5 h-5"
                        alt="Icône lieu"
                    />
                    {scene.capacite}
                </p>
            </div>
        )
    }
</div>
