---
import ImagePB from "../components/ImagePB.astro";
import { getFileURL } from "../../backend/backend.mjs";
const scene = Astro.props;
---

{
    scene && (
        <div class="card rounded-xl p-5 mt-7 border-2 border-brandingblue">
            <div class="container">
                <ImagePB
                    record={scene}
                    recordImage={scene?.image?.[0] || scene?.photo || ""}
                    width={400}
                    height={300}
                />

                <p>{scene.description}</p>
                <p>{scene.nom}</p>
                <p>{scene.capacite}</p>
                <p>{JSON.stringify(scene)}</p>
            </div>
        </div>
    )
}
